/* menu.module.css */
.container {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  width: inherit;
  height: 95%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.top_menu {
  display: flex;
  flex-direction: column;
}

.icon {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition */
}

.icon:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}

.active {
  background-color: #ddd; /* Change the background color for the active tab */
}

.logout_icon {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition */
}

.logout_icon:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 12px;
  z-index: 1;
}
