.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	max-width: 100%;
	min-width: 1200px;
	height: 7vh;
	padding: 0px 20px;
	bottom: 0%;
	z-index: 1;
}

.container .left_side {
	display: flex;
	align-items: center !important;
	font-size: 14px;
}

.left_side .dotIcon {
	width: 10px;
	height: 10px;
	background-color: #eee;
	border-radius: 50px;
}

.left_side p {
	margin-left: 5px;
}

.right_side {
	display: flex;
	align-items: center !important;
}
